body {
  padding-bottom: 50px;
}

table td, table th {
  text-align: center;
  font-size: 15px;
}

.alert, .center {
  text-align: center;
}

.pesel_alert{
  color: red;
}

.pagination{
  float: right;
}

#search{
  float: right
}

.checkbox:nth-child(2n+1) {padding-bottom: 10px;}